<div id="cloud"></div>
<div style='margin-left: 100px;'>Donation (ETH): 0x1736cd6212997118e810738fe1fd31f86afc5135</div>

<table>
  <tr>
    <td>Link</td>
    <td>Comment</td>
  </tr>
  <% @mentions.each do |mention| %>
    <tr>
      <td>
        <%= link_to "https://www.reddit.com#{mention.url}" do %>
          <div class="fa fa-external-link"></div>
        <% end %>
      </td>
      <td><%= mention.body %></td>
    </tr>
  <% end %>
</table>
