<div id="cloud"></div>

<table>
  <tr>
    <td>Link</td>
    <td>Comment</td>
  </tr>
  <% @mentions.each do |mention| %>
    <tr>
      <td>
        <%= link_to "https://www.reddit.com#{mention.url}" do %>
          <div class="fa fa-external-link"></div>
        <% end %>
      </td>
      <td><%= mention.body %></td>
    </tr>
  <% end %>
</table>
